.page {
  display: none;
}

.page.active {
  display: block;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #2a2f3a, #0b0e14);
  margin: 0;
}

.start-screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* BUTTON DI TENGAH LAYAR */
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: none;
  background: white;
  color: #ff2f92;
  font-size: 4rem;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(255, 47, 146, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.play-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* TEKS DI BAWAH BUTTON */
.start-screen h1 {
  position: absolute;
  top: calc(50% + 120px);
  left: 50%;
  transform: translateX(-50%);
  
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffd966;
  text-shadow: 3px 3px 0 #ff2f92;
}
